ul {
  padding-left: 0;
  list-style: none;
  margin: 0 auto;
  margin-top: 35px;
}
li {
  display: block;
  margin: 0;
}
.dropdown-content a {
      display: inline-block;
      padding: 10px;
      background-color: #eee;
      color: #222;
      text-decoration: none;
}
li  a {
  text-decoration: none;
  color: red;
}
li  a:hover {
  text-decoration: none;
  color: black;
}
main img {
  position: relative;
  float: left;
  width: 200px;
  height: auto;
  border: solid grey 1px;
  margin: 5px;
}
p a {
  text-decoration: underline;
  color: black;
  font-family: "acumin-pro-semi-condensed", sans-serif;
  font-size: 15pt;
  font-weight: 700;
  text-align: center;

}
p a:hover {
  text-decoration: underline;
  color: grey;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: 200px 100px max-content 40px;
  grid-gap: 5px;
}
.dropbtn {
    font-family: "acumin-pro-semi-condensed", sans-serif;
    font-style: italic;
    font-weight: 800;
    color: white;
    font-size: 20pt;
    border: none;
    margin: 0;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
  background-color: #ddd
}
.dropdown:hover .dropdown-content {
    display: block;
    font-family: "acumin-pro-semi-condensed", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 12pt;
}
.title {
  font-family: "acumin-pro-semi-condensed", sans-serif;
  font-weight: 800;
  font-size: 20pt;
  text-align: center;
  margin: 500px 0 0 0;
}
.link {
  text-align: center;
}
#header {
  display: inline;
  grid-row: 1/2;
  grid-column: 1/5;
  background-color: red;
  margin: 100px auto 10px;
  padding: 0px 15px 0px 15px;
  font-family: "acumin-pro-semi-condensed", sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 40pt;

}
#header p {
  display: inline;
}
/* #nav {
  grid-row: 2/3;
  grid-column: 1/5;
  margin: 0 auto;
} */
#store {
  grid-row: 2/3;
  grid-column: 1/2;
}
#photos {
  grid-row: 2/3;
  grid-column: 2/3;
}
#videos {
  grid-row: 2/3;
  grid-column: 3/4;
}
#playlists {
  grid-row: 2/3;
  grid-column: 4/5;
}
#content {
  grid-row: 3/4;
  grid-column: 1/5;
}
#footer {
  grid-row: 4/5;
  grid-column: 1/5;
  margin: 0 auto;
  font-family: "acumin-pro-semi-condensed", sans-serif;
  font-weight: 800;
}
#footer div {
  display: inline;
  text-decoration: line-through;
}
#gods {
  position: relative;
  float: right;
  grid-template-columns: 3/5;
  grid-template-rows: 3/4;
  height: auto;
  width: 474px;
  margin: 0;
}
